@model ClubeAaanoSite.Models.PromocaoModel

@{
    ViewBag.Title = "Visualizar promoção";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/ClubeAaanoSite/components/bootstrap-summernote/dist/summernote.min.css" rel="stylesheet" />
<script src="~/Scripts/ClubeAaanoSite/plugins/jQueryUI/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/ClubeAaanoSite/components/bootstrap-summernote/dist/summernote.min.js"></script>
<script src="~/Scripts/ClubeAaanoSite/components/bootstrap-summernote/dist/lang/summernote-pt-BR.min.js"></script>

<div class="content-wrapper">
    <div class="content-header">
        <h1>
            Promoção
            <small>Visualizar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Usuario/Inicio"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="~/Promocao/Index"><i class="fa fa-male"></i> Promoções</a></li>
            <li class="active"><i class="fa fa-pencil"></i> Visualizar</li>
        </ol>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Informações da promoção</h2>
                    </div>

                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="form-horizontal">

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-4 col-sm-4 col-xs-12">Promoção para a loja:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @Html.EditorFor(m => m.NomeLojaParceira, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.HiddenFor(p => p.IdLojaParceira)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Resumo, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
                                        @Html.EditorFor(m => m.Resumo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(m => m.Resumo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <br />

                                <div class="form-group">
                                    <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12 col-lg-offset-1">
                                        <h3>Detalhes da promoção &nbsp; <small>Exibido aos assinantes</small></h3>
                                    </div>

                                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
                                        @Html.TextAreaFor(m => m.Detalhes, new
                                   {
                                       @class = "textarea",
                                       @autocomplete = "off",
                                       @style = "width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;",
                                       @disabled = "disabled"
                                   })
                                        @Html.ValidationMessageFor(m => m.Detalhes, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a class="btn btn-default" href="~/Promocao/Index"><i class="fa fa-mail-reply"></i> Voltar</a>
                                        <a class="btn btn-primary" href="~/Promocao/Editar/@Model.Id"><i class="fa fa-pencil"></i> Editar</a>
                                        <a class="btn btn-warning" href="~/Promocao/Clonar/@Model.Id"><i class="fa fa-copy"></i> Clonar</a>
                                        <a class="btn btn-danger" href="~/Promocao/Excluir/@Model.Id?Descricao=@(Model.Resumo + " da loja " + Model.NomeLojaParceira)"><i class="fa fa-trash"></i> Excluir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#divCarregandoLojaParceira").hide();
            $("#Detalhes").summernote({
                lang: 'pt-BR',
                height: 300,
                minHeight: null,
                maxHeight: null,
                focus: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                ]
            });

            $('#Detalhes').summernote('disable');
            $("li a").addClass('disabled');

            $(document).keypress(function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
}