@model ClubeAaanoSite.Models.BrindeModel

@{
    ViewBag.Title = "Incluir Brinde";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header">
        <h1>
            Brinde
            <small>Incluir</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Usuario/Inicio"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="~/LojaParceira/Index"><i class="fa fa-gift"></i> Brindes</a></li>
            <li class="active"><i class="fa fa-plus"></i> Incluir</li>
        </ol>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box box-primary">

                    <div class="box-header with-border">
                        <h2 class="box-title">Informações do novo brinde</h2>
                    </div>

                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="form-horizontal">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Descricao, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
                                        @Html.EditorFor(m => m.Descricao, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.Descricao, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Sorteio, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                    <div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">
                                        @Html.EditorFor(m => m.Sorteio, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.Sorteio, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(m => m.Entregue, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                        @Html.EditorFor(m => m.Entregue, new { htmlAttributes = new { @class = "checkbox", @style = "margin-top:5px" } })
                                        @Html.ValidationMessageFor(m => m.Entregue, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @Html.Partial("_SelecionarAssinatura")

                                <div class="form-group">
                                    @Html.LabelFor(m => m.NomeAssinante, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
                                        <div class="input-group">
                                            @Html.HiddenFor(m => m.IdAssinaturaPagSeguro)
                                            @Html.EditorFor(m => m.NomeAssinante, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(m => m.NomeAssinante, "", new { @class = "text-danger" })

                                            <div class="input-group-btn">
                                                <button id="btnBuscarAssinatura" type="button" class="btn btn-primary"><i class="fa fa-search"></i> Pesquisar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3">
                                        <a class="btn btn-default" href="~/Brinde/Index"><i class="fa fa-mail-reply"></i> Cancelar</a>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Gravar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ClubeAaanoSite/plugins/mask/jquery.mask.min.js"></script>
<script src="~/Scripts/ClubeAaanoSite/Telas/Geral.js"></script>

<script>
    $(document).ready(function () {
        $("#Sorteio").mask("99/99/9999", { placeholder: "__/__/____" });

        $("#btnBuscarAssinatura").click(function () {
            if ($("#btnBuscarAssinatura").html().indexOf("Limpar") !== -1) {
                $("#IdAssinaturaPagSeguro").val("");
                $("#NomeAssinante").val("");
                $("#btnBuscarAssinatura").html("<i class='fa fa-search'></i> Pesquisar");
            } else {
                ExibirModelPesquisaAssinatura();
            }
        });

        $(document).keypress(function (e) {
            var keycode = (e.keyCode ? e.keyCode : e.which);
            if (keycode === 13 || keycode === '13') {
                return false;
                e.preventDefault();
            }
        });
    });

    // Ao selecionar uma promoção para filtrar
    function SelecionarAssinatura(codigo, nome, id) {
        $("#IdAssinaturaPagSeguro").val(id);
        $("#NomeAssinante").val(nome);
        $("#btnBuscarAssinatura").html("<i class='fa fa-eraser'></i> Limpar");
        $("#modalSelecionarAssinatura").modal("hide");
    }

</script>